@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *,
  *::before,
  *::after {
    /* Creating animations for dark mode */
    transition:
      background-color 0.3s,
      border 0.3s;
  }

  body {
    transition:
      color 0.3s,
      background-color 0.3s;
    font-size: 1.2rem;
  }

  .light-mode {
    @apply bg-zinc-200 text-sky-800;
  }

  .dark-mode {
    @apply bg-sky-800 text-zinc-200;
  }

  .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(6px);
    transition: 500ms ease;
  }

  .dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }

  .services-info-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  .projects-info-grid {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    gap: 10px; /* Adjust the gap between items as needed */
  }
}
